body {
  background-color: rgb(50, 79, 228);
}
.department {
  float:left;
}
.container {
  background-color: rgb(129, 219, 238);
}
.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  max-height: 400;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.footer {
  background-color: rgb(156, 15, 19);
  text-decoration-color: white;
}
